<!DOCTYPE html>
<html>
  <head>
    <title>My Dice Roll App: 5d4</title>
  </head>
  </body>
    <h1>5d4</h1>
    <p>
      <ul>
        <% @rolls.each do |x|%>
        <li>
          <%= x %>
        </li>
        <% end %>
      <ul>
    </p>
  </body>
<html>
